.about {
  padding: 4.5rem 0;
}

.about-content {
  grid-template-columns: 1fr;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
}

.img-side {
  position: relative;
}

.about-img {
  height: auto;
  width: 100%;
  margin-bottom: 0.5rem;
  border-radius: 1.4rem;
}

.text-side {
  padding-right: 0;
  margin: 0 auto;
  max-width: 54rem;
}

.text-side h3 {
  color: #147efb;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.text-side h4 {
  color: #2d2e32;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1.4;
  margin-top: -10px;
}

.text-side p {
  color: #767676;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  font-family: Mulish, sans-serif;
}
