.contact {
  padding: 10rem 0;
  background-color: #f9f9f9;
}

.contact-content {
  display: flex;
  flex-direction: column;
}

.contact-title {
  @media (max-width: 900px) {
    text-align: center;
  }
}

.contact-title p {
  color: #147efb;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.contact-title h3 {
  color: #2d2e32;
  font-size: 1.5rem;
}

.contact-icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
  gap: 5rem;

  @media (max-width: 900px) {
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
}

.contact-icon-box {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.contact-icon-box span {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.contact-icon-box svg {
  color: #147efb;
  font-size: 3rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-info h3 {
  color: #2d2e32;
  font-size: 1.7rem;
}

.contact-info p {
  color: #767676;
  cursor: pointer;
  font-size: 1.4rem;
  text-decoration: none;
}
