.content {
  display: flex;
  gap: 10rem;
  height: 100vh;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (max-width: 900px) {
    gap: 3rem;
    flex-direction: column;
    text-align: center;
    height: auto;
    padding-top: 10rem;
  }
}

.hero {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;

  @media (max-width: 900px) {
    height: auto;
    width: 100%;
  }
}

.hero-main {
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;

  @media (max-width: 900px) {
    gap: 3rem;
    flex-direction: column-reverse;
    height: auto;
    text-align: center;
  }
}

.hero-img {
  height: 35rem;
  width: 35rem;
  background-image: url(../img/ChrisPic.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  animation: morph 8s ease-in-out infinite;
  transition: all 1s ease-in-out;

  @media (max-width: 500px) {
    height: 20rem;
    width: 20rem;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  position: relative;
}

.hero-text h1 {
  font-size: 4rem;
  color: #2d2e32;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;

  @media (max-width: 500px) {
    font-size: 3rem;
  }
}

.hero-text p {
  color: #555;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;
  font-family: Mulish, sans-serif;

  @media (max-width: 900px) {
    margin-bottom: 5rem;
  }
}

.hero-text span {
  display: flex;
  gap: 1.3rem;
  cursor: pointer;
  margin: 2.5rem 0;

  @media (max-width: 900px) {
    gap: 1.6rem;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: -2rem;
  }
}

.fa-icon {
  color: #2d2e32;
  font-size: 2rem;

  @media (max-width: 900px) {
    font-size: 3.5rem;
  }
}

.fa-icon:hover {
  color: #147efb;
}

.skills {
  display: flex;
  position: absolute;
  align-items: center;
  bottom: 0;
  color: #767676;
  font-size: 1.2rem;
  left: 0;
  padding-bottom: 8rem;

  @media (max-width: 900px) {
    position: static;
    flex-direction: column;
  }
}

.skills p {
  border-right: 2px solid rgba(45, 46, 50, 0.5);
  margin-right: 4rem;
  padding-right: 2rem;
  color: #2d2e32;
  font-family: Mulish, sans-serif;
  font-weight: 600;

  @media (max-width: 900px) {
    border-bottom: 2px solid rgba(45, 46, 50, 0.5);
    border-right: none;
    margin-bottom: 3rem;
    margin-right: 0;
    padding-right: 0;
    padding-bottom: 1rem;
  }
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  list-style: none;

  @media (max-width: 900px) {
    justify-content: center;
  }
}

.skills ul li {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 4rem;
  height: 4rem;
}

.skills img {
  height: 2rem;
}
