.navbar {
  position: fixed;
  max-width: 133rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.7rem 2rem;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 99999;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 2.1rem;
}

.navbar-links a {
  font-size: 1rem;
  font-weight: 700;
  color: #2d2e32;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

.navbar-links a:hover {
  color: #147efb;
}

@media (max-width: 1000px) {
  .navbar-links {
    display: none;
  }
}

.mobile-hamb {
  font-size: 2.8rem;
  display: none;
  cursor: pointer;
  transition: all 0.3s;
}

.mobile-hamb:hover {
  color: #147efb;
}

@media (max-width: 1000px) {
  .mobile-hamb {
    display: flex;
  }
}

.mobile-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  background-color: #fff;
  z-index: 999999;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.mobile-navbar-close {
  font-size: 3rem;
  position: absolute;
  top: 3.5rem;
  right: 3.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.mobile-navbar-close:hover {
  color: red;
}

.mobile-navbar-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 1.7rem;
  gap: 3rem;
  text-align: center;
}

.mobile-navbar-links li a {
  text-decoration: none;
  color: #2d2e32;
  font-weight: 600;
  transition: all 0.3s;
}

.mobile-navbar-links li a:hover {
  color: #147efb;
}

.open-nav {
  left: 0;
}

.logo {
  color: #2d2e32;
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
}
