.projects {
  background-color: #f9f9f9;
  padding: 8rem 0;
}

.project-content {
  display: flex;
  flex-direction: column;

  @media (max-width: 900px) {
    text-align: center;
  }
}

.project-content p {
  color: #147efb;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.project-content h3 {
  color: #2d2e32;
  font-size: 1.5rem;
  margin-bottom: 3rem;

  @media (max-width: 900px) {
    margin-top: 0px;
  }
}

.projects-grid {
  display: grid;
  grid-gap: 5rem;
  gap: 5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  width: 100%;
  height: auto;

  @media (max-width: 900px) {
    justify-content: center;
  }
}

.project-card {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 28rem;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 900px) {
    flex-direction: column !important;
  }
}

.project-img {
  background-color: hsla(0, 0%, 46%, 0.2);
  border-radius: 1.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: auto;
  width: 35rem;
  position: relative;

  @media (max-width: 900px) {
    max-width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.project-img img {
  height: auto;
  width: 100%;
  transition: transform 10s ease-in-out 0s;
}

.project-img:hover img {
  transform: translateY(-56.5%);
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: auto;
  width: 30rem;

  @media (max-width: 900px) {
    margin: 0 auto;
    width: 100%;
  }
}

.project-text h3 {
  color: #2d2e32;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  position: relative;
  text-transform: uppercase;
}

.project-text p {
  color: #767676;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  text-transform: none;
}

.stack {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

.stack p {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000 !important;
  font-family: Mulish, sans-serif !important;
  font-weight: 600 !important;
  padding: 1rem 1.3rem;
}

.links {
  gap: 1rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.links a {
  display: flex;
  align-items: center;
  color: #2d2e32;
  font-size: 1.2rem;
  font-weight: 500;
  gap: 5px;
  text-decoration: none;
}

.links:hover a {
  color: #147efb;
}
